fastapi==0.110.0
uvicorn==0.28.0
python-dotenv==1.0.1
langchain==0.1.11
tiktoken==0.6.0
pydantic==2.6.4
pydantic_settings==2.2.1
skyfield==1.48
geopy==2.4.1
semantic-router[local]==0.0.20
pydantic-core==2.18.2